{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block content %}

<h1>Mon Compte</h1>

<p>Bienvenue {{ app.user.firstname }} dans votre compte. c'est dans cet espace que vous allez pourvoir gerer toute vos information personnelles.</p>
<hr>

- <a href="{{ path('account_password') }}">Modifier mon Mot de passe</a>  <br>
- Ajouter mes adresses <br>
- Mes commandes <br>

<hr>
{% endblock %}
